
.round-layout {
    -fx-background-color: #c0e2f6;
    -fx-border-color: #b78484;
    -fx-border-radius: 50px; /* Specify the radius in pixels */
    -fx-background-radius: 50px;
}

.label {
    -fx-font-size: 18px; /* Increase font size for emphasis */
    -fx-font-weight: bold; /* Font weight */
    -fx-text-fill: #ff5733; /* Text color (you can change the color code) */
    -fx-background-color: transparent; /* Make the background transparent */
    -fx-padding: 4px 8px; /* Padding (top and bottom 4px, left and right 8px) */
    -fx-background-radius: 3px; /* Rounded corners */
}

.label:hover {
    -fx-text-fill: #ff9900; /* Change text color on hover */
    -fx-scale-x: 1.1; /* Scale the label on the X-axis on hover */
    -fx-scale-y: 1.1; /* Scale the label on the Y-axis on hover */
}